.hero {
  background-color: #3e4247;
  min-height: 100vh;
  max-width: 100vw;
}
.all_sections {
  padding-top: 56px;
}

/* section one  */
.heroone {
  background-image: radial-gradient(#373c3e, #161818, #000);
  height: 100vh;
}
.heroone__box {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroone__container {
  text-align: center;
}
.heroone__title {
  color: #FF2C7B;
  font-family: "Exo", Sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0px;
  padding-bottom: 25px;
}
.heroone__heading {
  font-size: 5.5vw;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Audiowide', cursive;
  margin: 0px;
  position: relative;
}
.heroone__heading:hover > span{
  opacity: 0.6;
}

.heroone__heading:after {
  content: "]";
  font-size: 8vw;
  font-weight: 100;
  position: absolute;
  top: -1.5vw;
  right: -3vw;
  font-family: sans-serif;
  opacity: 0.7;
}
.heroone__heading:before {
  content: "[";
  font-size: 8vw;
  font-weight: 100;
  position: absolute;
  top: -1.5vw;
  left: -3vw;
  font-family: sans-serif;
  opacity: 0.7;
}

.heroone__subheading {
  font-family: "Exo", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 0.9em;
  text-align: center;
  color: #fff;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.heroone__subheading:hover > span{
  opacity: 0.6;
}
.heroone__buttonbox {
  padding-top: 100px;
}

.heroone__button {
  font-size: 18px;
  padding: 16px;
  border-radius: 0px;
  background-color: #D5003C;
  color: #FFFFFF;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #FF0060;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.07em;
}
.heroone__button:hover {
  background-color: #FF1D5D;
  border-color: #FF5394;
}

/* section one end */


/* menu start */
.menu {
  position: fixed;
  height: 70px;
  padding: 0;
  background-color: #0e1010;
  top: 0;
  display: flex;
  z-index: 100;
  width: 100%;
}
.menu__contents {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.menu__logo {
  max-height: 50px;
  width: auto;
  margin: 0 auto;
}
.menu__box {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.menu__item {
  line-height: inherit;
  height: auto;
  position: relative;
  z-index: 10;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em;
  padding: 0 15px;
  font-size: 12px;
}
.menu__link {
  line-height: inherit;
  height: auto;
  position: relative;
  max-width: 240px;
  text-overflow: ellipsis;
  text-align: right;
  opacity: 0.8;
  transition: all .2s;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__link-active{
  opacity: 1;
}
.menu__link:hover{
  color: #d5003c;
}
.menu__item a::after {
  transition: all .5s;
}
.menu__item a::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #d5003c;
  height: 4px;
}
.menu__item a:hover:after {
  width: 100%;
}
/* menu end */

/* text */
.vice-textfx-glitch {
 animation: none;
 position: relative;
}
.vice-textfx-glitch__l0 {
 animation: none;
 position: relative;
 display: block;
 opacity: 1;
}
.vice-textfx-glitch__l1, .vice-textfx-glitch__l2 {
 opacity: 0.65;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 left: 2px;
 text-shadow: -2px 0 #ff0048;
 clip-path: polygon(0 100%, 100% 0, 100% 0, 0 100%);
 transform: none;
 display: none;
 mix-blend-mode: screen;
}
.vice-textfx-glitch__l2 {
 left: -2px;
 transform: none;
 display: none;
 text-shadow: -2px 0 #00f6ff, 2px 2px #00f6ff;
}
.vice-textfx-glitch.vice-fx-on {
 animation: glitch-skew-text 3s infinite;
}
.vice-textfx-glitch.vice-fx-on .vice-textfx-glitch__l0 {
 opacity: 0.85;
}
.vice-textfx-glitch.vice-fx-on .vice-textfx-glitch__l1 {
 display: block;
 animation: vice-glitch-text-before 2.6s infinite;
}
.vice-textfx-glitch.vice-fx-on .vice-textfx-glitch__l2 {
 display: block;
 animation: vice-glitch-text-after 2.6s infinite;
}

@keyframes glitch-skew-text {
 0% {
   transform: skewX(-0.5deg);
 }
 10% {
   transform: skewX(-0.5deg);
 }
 20% {
   transform: skewX(0deg);
 }
 30% {
   transform: skewX(-1deg);
 }
 40% {
   transform: skewX(-1deg);
 }
 50% {
   transform: skewX(-0.5deg);
 }
 60% {
   transform: skewX(1deg);
 }
 70% {
   transform: skewX(0.5deg);
 }
 80% {
   transform: skewX(-1deg);
 }
 90% {
   transform: skewX(0deg);
 }
 100% {
   transform: skewX(-0.5deg);
 }
}
@keyframes vice-glitch-text-before {
 0% {
   clip-path: polygon(0 33px, 100% 33px, 100% 41px, 0% 41px);
   transform: skewX(5deg) translateX(-3px);
 }
 8% {
   clip-path: polygon(0 -42px, 100% -42px, 100% -32px, 0% -32px);
   transform: skewX(2deg) translateX(-3px);
 }
 17% {
   clip-path: polygon(0 5px, 100% 5px, 100% 9px, 0% 9px);
   transform: skewX(-3deg) translateX(-4px);
 }
 25% {
   clip-path: polygon(0 244px, 100% 244px, 100% 259px, 0% 259px);
   transform: skewX(6deg) translateX(1px);
 }
 33% {
   clip-path: polygon(0 139px, 100% 139px, 100% 148px, 0% 148px);
   transform: skewX(1deg) translateX(-1px);
 }
 42% {
   clip-path: polygon(0 150px, 100% 150px, 100% 164px, 0% 164px);
   transform: skewX(1deg) translateX(0px);
 }
 50% {
   clip-path: polygon(0 229px, 100% 229px, 100% 235px, 0% 235px);
   transform: skewX(3deg) translateX(0px);
 }
 58% {
   clip-path: polygon(0 46px, 100% 46px, 100% 54px, 0% 54px);
   transform: skewX(0deg) translateX(-4px);
 }
 67% {
   clip-path: polygon(0 -25px, 100% -25px, 100% -17px, 0% -17px);
   transform: skewX(-3deg) translateX(-2px);
 }
 75% {
   clip-path: polygon(0 -1px, 100% -1px, 100% 6px, 0% 6px);
   transform: skewX(3deg) translateX(-2px);
 }
 83% {
   clip-path: polygon(0 150px, 100% 150px, 100% 164px, 0% 164px);
   transform: skewX(0deg) translateX(2px);
 }
 92% {
   clip-path: polygon(0 155px, 100% 155px, 100% 162px, 0% 162px);
   transform: skewX(0deg) translateX(-2px);
 }
 100% {
   clip-path: polygon(0 -142px, 100% -142px, 100% -132px, 0% -132px);
   transform: skewX(-2deg) translateX(0px);
 }
}
@keyframes vice-glitch-text-after {
 0% {
   clip-path: polygon(0 234px, 100% 234px, 100% 245px, 0% 245px);
   transform: skewX(-1deg) translateX(-2px);
 }
 8% {
   clip-path: polygon(0 83px, 100% 83px, 100% 99px, 0% 99px);
   transform: skewX(-4deg) translateX(0px);
 }
 17% {
   clip-path: polygon(0 163px, 100% 163px, 100% 177px, 0% 177px);
   transform: skewX(-5deg) translateX(-1px);
 }
 25% {
   clip-path: polygon(0 54px, 100% 54px, 100% 74px, 0% 74px);
   transform: skewX(-1deg) translateX(-1px);
 }
 33% {
   clip-path: polygon(0 28px, 100% 28px, 100% 50px, 0% 50px);
   transform: skewX(-1deg) translateX(-2px);
 }
 42% {
   clip-path: polygon(0 -33px, 100% -33px, 100% -10px, 0% -10px);
   transform: skewX(3deg) translateX(2px);
 }
 50% {
   clip-path: polygon(0 165px, 100% 165px, 100% 188px, 0% 188px);
   transform: skewX(2deg) translateX(0px);
 }
 58% {
   clip-path: polygon(0 -21px, 100% -21px, 100% -13px, 0% -13px);
   transform: skewX(-4deg) translateX(0px);
 }
 67% {
   clip-path: polygon(0 -81px, 100% -81px, 100% -58px, 0% -58px);
   transform: skewX(-5deg) translateX(-1px);
 }
 75% {
   clip-path: polygon(0 -56px, 100% -56px, 100% -51px, 0% -51px);
   transform: skewX(-5deg) translateX(-2px);
 }
 83% {
   clip-path: polygon(0 282px, 100% 282px, 100% 289px, 0% 289px);
   transform: skewX(-3deg) translateX(-4px);
 }
 92% {
   clip-path: polygon(0 109px, 100% 109px, 100% 116px, 0% 116px);
   transform: skewX(-2deg) translateX(2px);
 }
 100% {
   clip-path: polygon(0 -31px, 100% -31px, 100% -17px, 0% -17px);
   transform: skewX(7deg) translateX(0px);
 }
}